*{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    border: none;
    outline: none;
    /* border: none; */
    ::-webkit-scrollbar {
      width: 7px; /* Width of the scrollbar */
    }
    
    /* Style the thumb */
    ::-webkit-scrollbar-thumb {
      background-color: #b0b0b0; /* Color of the thumb */
      border-radius: 5px; /* Radius of the thumb */
      cursor: pointer;
    }
  }

body{
  width: 100%;
  position: relative;
}